@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    /* background-color: red; */
    font-family: 'Roboto';
}

.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 10px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header{
    background:  url('prosesor/bacgraund\ -\ Copy.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header h1{
    font-size: 45px;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.ul{
    margin-top: 40px;
    width: 50%;
    margin: auto;
}

.ul a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    margin: auto;
    font-weight: 600;
    transition: 0.5s;
}

.ul a:hover{
    color: coral;
}

#galcka{
    color: yellowgreen;
}

.header__one--blog{
    margin-top: 40px;
    padding-bottom: 70px;
}

.header__two--blog{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    margin: 40px 10px 0px;
    overflow: hidden;

}

.header__two--blog img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform: scale(1.0);
    transition: 1s;overflow: hidden;
    border-radius: 20px;
}

.header__two--blog img:hover{
    transform: scale(1.2);
}

@media (max-width: 1280px) {
    .wrapper{
        justify-content: center;
    }
}