@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    /* background-color: red; */
    font-family: Roboto;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 10px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('img/Corsair_iCue_Room_Rainbow_Explore_Static.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header__navbar{
    width: 100%;
    padding: 0px 100px;
    background-color: #222;
    /* border-bottom: 1px solid black; */
    position: fixed;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__onetitle{
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.navbar__onetitle img {
    width: 100%;
    border-radius: 50%;
    transform: scale(1.5);
}

#check{
    display: none;
}

#menu, #cancel{
    position: absolute;
    top: 25%;
    right: 3%;
    font-size: 30px;
    color: white;
    display: none;
}


nav ul{
    display: flex;
    justify-content: space-between;
}

nav ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 175.4%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 10px 15px;
    transition: 1s;
    text-decoration: none;

}

nav ul li a:hover{
    color: #FF8E1E;
}

.header__bottom--ul {
    display: none;
}

.header__button-one {

    font-weight: 900;
    font-size: 30px;
    color: #F4F4F4;
    padding: 10px 5px;
    transition: 1s;
}

.header__button-one:hover{
    color: #FF8E1E;
}


.header__menu h1{
    color: darkgrey;
    font-size: 50px;
    padding-top: 9%;
    text-align: center;
}

.header__menu{
    /* border: 1px solid red; */
    padding-top: 15%;
}

section{
    background:  url('img/bacgraund.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
}

section h1{
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    font-weight: 600;
    color: darkgrey;
}

/* #accordionExample{
    margin-top: 90px;
} */

.blog__ul{
    /* margin-top: 40px; */
    width: 50%;
    margin: 40px auto;
}


.section_a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    margin: auto;
    font-weight: 600;
    transition: 0.5s;
}

.section_a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: coral;
    margin: auto;
    display: block;
}

.section_a:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}

.section_a:hover{
    color: #FF8E1E;
}

#galcka{
    color: yellowgreen;
}



.blog__section--smalltitle{
    width: 500px;
    height: 400px;
    margin-top: 58px;
}

.blog__section--smalltitle p{
    letter-spacing: 2px;
    /* border: 1px solid red; */
    font-size: 28px;
    font-weight: 900;
    color: #ffffff;
    background: linear-gradient(135deg,#ff00d2,#fed90f,#00a2ff,#09f1b8,#ff00d2,#fed90f,#00a2ff,#09f1b8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blog__section--smalltitle h6{
    font-size: 20px;
    color: darkgray;
}

.blog__section--smalltitle i{
    font-size: 30px;
    padding: 10px 10px;
    color: yellowgreen;
}

.blog__section--img{
    width: 500px;
    height: 400px;
    margin-top: 28px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.blog__section--img img{
    width: 100%;
    border-radius: 50px;

}

    /* two--blog  */


/* .section__blog{
    background: ;
} */

.section__h1--title{
    font-size: 50px;
    font-weight: 600;
    color: darkgrey;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.menu__two--blog{
    width: 350px;
    height: 350px;
    /* background: #131E3A; */
    /* box-shadow: 12px 18px 30px rgba(0, 0, 0, 0.1); */
    /* background-color: #131E3A; */
    border-radius: 20px;
    margin: 24px 10px;
    /* display: none; */
}
.menu__two--img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    
}

.menu__two--img img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform: scale(1);
    transition: 1s;
}

.menu__two--img img:hover{
    transform: scale(1.2);
}

/* main  */

main{
    background:  url('img/bacgraund.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

main h1{
    font-size: 50px;
    font-weight: 600;
    color: darkgrey;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.main__maps{
    height: 400px;
}

.main__icon{
    margin-top: 46px;
    padding: 0px 100px;
    background-color: #222;
    padding-top: 47px;
    padding-bottom: 40px;
}
.main__blog{
    width: 300px;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px
}

.main__blog span{
    color: #969696;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.28px;
}

.main__hrf{
    color: #969696;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.28px;
}




@media (max-width: 1280px) {
    .wrapper{
        justify-content: center;
    }
    .section__blog .container{
        padding: 0px;
    }
}


@media (max-width: 1024px) {
    #menu{
        display: block;
    }

    .header__bottom--ul{
        display: block;
    }

    .header__bottom{
        display: none;
    }

    header nav ul {
        display: block;
        position: fixed;
        top: -150%;
        right: 0%;
        width: 50%;
        height: 100vh;
        text-align: center;
        background-color: #222;
        transition: 1s;
    }

    nav ul li a {
        line-height: 18vh;
    }

    #check:checked ~ ul {
        top: 0;
    }

    #check:checked ~ label #menu {
        display: none;
    }

    #check:checked ~ label #cancel {
        z-index: 101;
        display: block;
        color: white;
    }

    .header__menu{
        /* border: 1px solid red; */
        padding-top: 50%;
    }
    .header__navbar{
        padding: 0px 20px;
    }
}

    

@media (max-width: 600px){
    .header__navbar{
        padding: 0px 20px;
    }
    /* nav ul li a {
        line-height: 15vh;
    } */
    .header__menu{
        padding-top: 10%;
    }
    .header__menu h1{
        font-size: 35px;
        /* padding-top: 35%; */
    }
    .section__img-one{
        width: 400px;
        height: 280px;
    }
    .section__img-two{
        width: 400px;
        height: 280px;
    }
    .header__menu{
        /* border: 1px solid red; */
        padding-top: 45%;
    }
    .main__maps{
        height: 250px;
    }
}

@media (max-width: 390px){
    .header__menu h1{
        font-size: 30px;
        padding-top: 55px;
    }
    .section__img-one{
        width: 320px;
        height: 180px;
    }
    .section__img-two{
        width: 320px;
        height: 180px;
    }
    .header__menu{
        /* border: 1px solid red; */
        padding-top: 50%;
    }
    .blog__section--img{
        padding-top: 70px;
        margin-bottom: 0;
    }
    .main__maps{
        height: 150px;
    }
    .main-p{
        font-size: 15px;
    }
    nav ul li a {
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
    }
}
